<div class=" flex justify-center items-center h-screen p-4 bg-zinc-700">
  <div class="card bg-zinc-600 p-6 rounded-md shadow-lg space-y-4 w-full max-w-md">
    <h1 class=" font-bold text-gray-100 text-3xl">Harf Eşleştirme</h1>
    <p class="text-center text-gray-100 text-lg font-normal ">
      <span [class]="compare(letter, enteredText[i])"
        *ngFor="let letter of randomParagraph.split(''); let i = index">{{letter}}</span>
    </p>
    <input type="text" class="outline-none px-6 py-3 rounded-md w-full" (input)="getInputValue($event.target.value)" />
    <div *ngIf="randomParagraph === enteredText">
      <h2 class="font-bold text-gray-100 text-xl">Hepsi Doğru</h2>
    </div>
  </div>
</div>